/* * { border: 1px solid red; } */

/* -----Fonts-----*/
.fontWide {
    font-family: 'spongebob_font_wideregular';
}

.fontCond {
    font-family: 'spongebob_font_condensedRg';
}

@font-face {
    font-family: 'spongebob_font_condensedRg';
    src: url('./squarePantsFont/spongebobfontcondensedregular-3zzey-webfont.woff2') format('woff2'),
         url('./squarePantsFont/spongebobfontcondensedregular-3zzey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spongebob_font_wideregular';
    src: url('./squarePantsFont/spongebobfontwideregular-x3nzv-webfont.woff2') format('woff2'),
         url('./squarePantsFont/spongebobfontwideregular-x3nzv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-----navBar-----*/

.navLink {
    font-size: 125%;
}

.navMob {
    width: 100%;
}

.navDesk {
    display: none;
}

/* -----Colors-----*/
.kRed {
    background-color: #830b11!important;
}

.ktRed {
    color: #830b11!important;
}

/*------Restaurant image-----*/

.imgRest {
    max-width: 100%;
}

/*-----Jumbotron-----*/

.jumbotron h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

/*----Buttons-----*/

.btn {
    background-color: #830b11!important;
    border: none;
    box-shadow: none!important;
}

.btn:active {
    background-color: #830b11!important;
    box-shadow: none!important;
}

/* -----Card CSS----- */

.card {
    width: 75%;
    height: 100%; /*keeps the cards the same height*/
    margin: auto;
}

.card-text {
    font-size: 1rem;
}

b {
    text-decoration: underline;
}

.disc {
    font-size: 0.8rem;
}

.card > img {
    width: 50%;
    margin: auto;
    border-radius: 50%;
    padding-top: 10px;
}

.checkMenu:hover {
    background-color: #ffc107!important;
    color: black!important;
}

.madness {
    margin-top: 1.5rem;
}

/* footer {
    position: fixed;
    bottom: 0;
} */
/*-----PICTURES-----*/

.pictures {
    background-image: url("./assets/krustyKrab.png");
}

.jumboPic {
    color:#830b11!important;
    background-color: transparent!important;
}

/*-----carousel-----*/

.slides {
    max-width: 750px;
    max-height: 400px;
}

.carousel-inner {
    background-color: transparent;
}

.carousel-item img {
    border: 3px solid lightgrey;
    border-radius: 5px;
    margin: auto;
}

/*-----MENU-----*/

.menuDesk, .menuMob {
    background-color: #ffc107;
}

.menuDesk {
    display: none;
}

.accordion-button {
    font-family: 'spongebob_font_wideregular';
    border-color: #830b11!important;
    box-shadow: none!important;
}

.accordion-body {
    font-family: 'spongebob_font_condensedRg';
}

.thumbsUp {
    background-color: #ffc107;
}
.thumbsUp img {
    max-width: 40%;
}

/*-----DESKTOP VERSION-----*/
@media screen and (min-width: 800px) {

/*-----INDEX-----*/
/*----navbar-----*/
    .navMob {
        display: none;
    }

    .navDesk {
        display: inherit;
        width: 100%;
    }

/*-----Jumbotron-----*/

    .jumbotron {
        padding: 3%;
    }

    .jumbotron h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

/*-----Card-----*/

    .madness {
        margin-top: 0;
    }

/*-----MENU-----*/

    .menuDesk {
        display: inherit;
    }

    .menuMob, .thumbsUp {
        display: none;
    }

    .wText {
        visibility: hidden;
    }

/*-----PICTURES-----*/

    .pictures {
        background-image: url("./assets/krustyKrab.png");
    }

    .jumboPic {
        margin: auto;
        max-width: max-content;
        color: white!important;
        background-color: #830b11!important;
        border-radius: 10px;
    }
}